html {
  font-size: 100% !important;
}

body {
  font-family: "Public Sans", sans-serif;
  background-color: #fafafa;
}

::-moz-selection {
  background-color: #31d35c;
  color: white;
}

::selection {
  background-color: #31d35c;
  color: white;
}

.lead,
.nav-link {
  color: #9698a6;
  font-weight: 400;
}

.text-color-primary {
  color: #2d314d;
}

.text-color-secondary {
  color: #9698a6;
}

.main_heading {
  color: #2d314d;
  font-weight: 400;
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 1.125rem;
    color: #2d314d;
  }
}

.lead {
  font-size: 1.125rem;
}

.nav-link,
.btn {
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
}

.btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  color: white;
  padding: 0.7rem 2.1rem;
}

.btn:hover {
  color: #fafafa;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(43, 183, 218, 0.5)), to(rgba(49, 211, 92, 0.8)));
  background-image: linear-gradient(to right, rgba(43, 183, 218, 0.5), rgba(49, 211, 92, 0.8));
  border: none;
}

.btn:active, .btn:focus {
  color: white;
}

.btn:active {
  background-image: -webkit-gradient(linear, right top, left top, from(#2bb7da), to(#31d35c));
  background-image: linear-gradient(to left, #2bb7da, #31d35c);
  border: none;
}

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}

.navbar-nav .nav-items {
  cursor: pointer;
}

.navbar-nav .nav-items:not(:last-child) {
  margin-right: 2rem;
}

.navbar-nav .nav-items .nav-link {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-nav .nav-items .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  width: 100%;
  height: 3px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-nav .nav-items .nav-link:hover {
  color: #2d314d;
}

.navbar-nav .nav-items .nav-link:hover::after {
  opacity: 1;
}

.header {
  min-height: 900px;
  position: relative;
  overflow-x: hidden;
}

@media (max-width: 991px) {
  .header {
    padding-bottom: 7rem;
  }
}

.header_text-container {
  margin-top: -12rem;
}

@media (max-width: 1399px) {
  .header_text-container {
    margin-top: 2rem;
  }
}

@media (max-width: 1299px) {
  .header_text-container {
    margin-top: 0.1rem;
  }
}

@media (max-width: 1200px) {
  .header_text-container {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .header_text-container {
    margin-top: -8rem;
  }
}

@media (max-width: 767px) {
  .header_text-container {
    margin-top: 3rem;
  }
}

@media (max-width: 575px) {
  .header_text-container {
    margin-top: -5rem;
  }
}

@media (max-width: 400px) {
  .header_text-container {
    margin-top: -1rem;
  }
}

@media (max-width: 220px) {
  .header_text-container {
    margin-top: 8rem;
  }
}

@media (max-width: 150px) {
  .header_text-container {
    margin-top: 12rem;
  }
}

.header_background {
  background-image: url("../img/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translate(20rem, -10rem);
          transform: translate(20rem, -10rem);
  background-position: right;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}

@media (max-width: 991px) {
  .header_background {
    background-image: url("../img/bg-intro-mobile.svg");
    background-position: center;
    background-size: contain;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (max-width: 1399px) {
  .header_background {
    -webkit-transform: translate(28rem, -10rem);
            transform: translate(28rem, -10rem);
  }
}

@media (max-width: 1299px) {
  .header_background {
    -webkit-transform: translate(33rem, -10rem);
            transform: translate(33rem, -10rem);
  }
}

@media (max-width: 1199px) {
  .header_background {
    -webkit-transform: translate(36rem, -10rem);
            transform: translate(36rem, -10rem);
  }
}

@media (max-width: 1080px) {
  .header_background {
    -webkit-transform: translate(32rem, -10rem);
            transform: translate(32rem, -10rem);
  }
}

@media (max-width: 850px) {
  .header_background {
    -webkit-transform: translate(0, -10rem);
            transform: translate(0, -10rem);
  }
}

@media (max-width: 425px) {
  .header_background {
    -webkit-transform: translate(0, -15rem);
            transform: translate(0, -15rem);
  }
}

@media (max-width: 250px) {
  .header_background {
    -webkit-transform: translate(0, -18rem);
            transform: translate(0, -18rem);
  }
}

@media (max-width: 100px) {
  .header_background {
    -webkit-transform: translate(0, -20rem);
            transform: translate(0, -20rem);
  }
}

.header_description {
  position: relative;
  z-index: 9;
}

.header_description .paragraph {
  padding-right: 4rem;
}

@media (max-width: 992px) {
  .header_description .paragraph {
    padding: 0;
  }
}

.header_img-container {
  height: 100%;
  width: 100%;
  -webkit-transform: translate(16.9rem, -3rem);
          transform: translate(16.9rem, -3rem);
}

@media (max-width: 1399px) {
  .header_img-container {
    -webkit-transform: translate(13rem, -0.7rem);
            transform: translate(13rem, -0.7rem);
  }
}

@media (max-width: 1199px) {
  .header_img-container {
    -webkit-transform: translate(12rem, -0.5rem);
            transform: translate(12rem, -0.5rem);
  }
}

@media (max-width: 1150px) {
  .header_img-container {
    -webkit-transform: translate(10rem, -0.5rem);
            transform: translate(10rem, -0.5rem);
  }
}

@media (max-width: 1080px) {
  .header_img-container {
    -webkit-transform: translate(8rem, -0.5rem);
            transform: translate(8rem, -0.5rem);
  }
}

@media (max-width: 991px) {
  .header_img-container {
    -webkit-transform: translate(0, -12rem);
            transform: translate(0, -12rem);
  }
}

@media (max-width: 768px) {
  .header_img-container {
    -webkit-transform: translate(0, -8rem);
            transform: translate(0, -8rem);
  }
}

@media (max-width: 530px) {
  .header_img-container {
    -webkit-transform: translate(0, -5rem);
            transform: translate(0, -5rem);
  }
}

@media (max-width: 400px) {
  .header_img-container {
    -webkit-transform: translate(0, -2rem);
            transform: translate(0, -2rem);
  }
}

@media (max-width: 260px) {
  .header_img-container {
    -webkit-transform: translate(0, 1rem);
            transform: translate(0, 1rem);
  }
}

@media (max-width: 220px) {
  .header_img-container {
    -webkit-transform: translate(0, 5rem);
            transform: translate(0, 5rem);
  }
}

.header_img-container img {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  z-index: 7;
  background-color: #f3f4f6;
  margin-top: -250px;
  padding: 6rem 0;
}

@media (max-width: 1399px) {
  .main {
    margin-top: -350px;
  }
}

@media (max-width: 1199px) {
  .main {
    margin-top: -430px;
  }
}

@media (max-width: 991px) {
  .main {
    margin-top: 0;
  }
}

@media (max-width: 468px) {
  .main {
    margin-top: -100px;
  }
}

@media (max-width: 368px) {
  .main {
    margin-top: -150px;
  }
}

.main .card {
  border: none;
  background-color: transparent;
}

.main .card-text {
  font-size: 1rem;
}

.section_article {
  padding: 5rem 0 3rem 0;
}

.section_article .card {
  border: none;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  overflow: hidden;
  position: relative;
}

.section_article .card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 0px 15px #9698a6;
          box-shadow: 0 0px 15px #9698a6;
}

.section_article .card:hover .hover_container {
  opacity: 1;
}

.section_article .card:hover .hover_container--1 {
  width: 100%;
}

.section_article .card:hover h5 {
  color: #2bb7da;
}

.section_article .card:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section_article .card a {
  text-decoration: none;
}

.section_article .card .img_container {
  height: 13rem;
  overflow: hidden;
}

.section_article .card .img_container img {
  height: 100%;
  width: 100%;
  display: block;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.section_article .card .img-1 {
  height: 13rem;
}

.section_article .card .card-body .name_text {
  font-size: 0.8rem;
}

.section_article .card .card-body .card-text {
  font-size: 0.9rem;
}

.section_article .hover_container {
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
  opacity: 0;
}

.section_article .hover_container--1 {
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  background-color: rgba(52, 58, 64, 0.8);
  z-index: 2;
}

.footer {
  background-color: #2d314d;
}

.footer .logo {
  position: relative;
}

.footer .logo h3 {
  position: absolute;
  font-weight: bold;
  top: 0;
  -webkit-transform: translate(30px, -8px);
          transform: translate(30px, -8px);
  left: 0;
}

.footer .social_icons-list img {
  height: 1.5rem;
}
